	USE [master]

	DECLARE @kill varchar(8000) = '';  
	SELECT @kill = @kill + 'kill ' + CONVERT(varchar(5), session_id) + ';'  
	FROM sys.dm_exec_sessions
	WHERE database_id  = db_id('MyDB')
	EXEC(@kill);

	USE  [SE1715_G4_SWP391]

	ALTER DATABASE [SE1715_G4_SWP391] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;

	USE [master]

	DROP DATABASE  [SE1715_G4_SWP391]

	GO
	/****** Object:  Database [SE1715_G4_SWP391]    Script Date: 5/17/2023 3:32:32 PM ******/
	CREATE DATABASE [SE1715_G4_SWP391]
	ALTER DATABASE [SE1715_G4_SWP391] SET COMPATIBILITY_LEVEL = 150
	GO
	IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
	begin
	EXEC [SE1715_G4_SWP391].[dbo].[sp_fulltext_database] @action = 'enable'
	end
	GO
	USE [SE1715_G4_SWP391]
	GO

	/****** Object:  Table [dbo].[aboutUs]    Script Date: 6/27/2023 6:23:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aboutUs](
	[aboutUsId] [int] IDENTITY(1,1) NOT NULL,
	[content] [ntext] NULL,
	[img] [varchar](255) NULL,
	[description] [nvarchar](1000) NULL,
	[isFooter] [bit] NULL,
	[isHeader] [bit] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[aboutUsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[aboutUs] ON 

INSERT [dbo].[aboutUs] ([aboutUsId], [content], [img], [description], [isFooter], [isHeader], [status]) VALUES (1, N'<p>1</p>', N'images/team/1.png', NULL, NULL, NULL, NULL)
INSERT [dbo].[aboutUs] ([aboutUsId], [content], [img], [description], [isFooter], [isHeader], [status]) VALUES (2, N'Vận chuyển miễn phí', N'http://localhost:3979/gasstore/client/images/shipping-icon/1.png', N'Và trả hàng miễn phí. Xem ngày vận chuyển trên hóa đơn.', 1, NULL, NULL)
INSERT [dbo].[aboutUs] ([aboutUsId], [content], [img], [description], [isFooter], [isHeader], [status]) VALUES (3, N'Vận chuyển miễn phí', N'http://localhost:3979/gasstore/client/images/shipping-icon/1.png', N'Và trả hàng miễn phí. Xem ngày vận chuyển trên hóa đơn.', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[aboutUs] OFF
GO
	/****** Object:  Table [dbo].[Administrator]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Administrator](
		[administratorID] [int] IDENTITY(1,1) NOT NULL,
		[userName] [varchar](100) NOT NULL,
		[password] [varchar](100) NOT NULL,
		[lastLogin] [datetime] NULL,
		[isActive] [bit] NOT NULL,
		[roleID] [int] NOT NULL,
		[email] [varchar](100) NULL,
		[img] [varbinary](max) NULL,
	 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
	(
		[administratorID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Attribute]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Attribute](
		[attributeID] [int] IDENTITY(1,1) NOT NULL,
		[code] [varchar](MAX) NULL,
		[name] [nvarchar](MAX) NULL,
		[description] [ntext] NULL,
		[productId] [int] NULL,
	 CONSTRAINT [PK_Attribute] PRIMARY KEY CLUSTERED 
	(
		[attributeID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO

	create table FAQ (
	FaqID int primary key IDENTITY(1,1) NOT NULL, 
	[isActive] bit, 
	question nvarchar(max), 
	answer nvarchar(max), 
	createdBy int, 
	createdDate DATE
	)

	
/****** Object:  Table [dbo].[WarrantyPolicy]    Script Date: 6/11/2023 8:12:40 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[WarrantyPolicy](
	[warrantyPolicyID] [int] NOT NULL,
	[policy1] [nvarchar](max) NULL,
	[policy2] [nvarchar](max) NULL,
	[policy3] [nvarchar](max) NULL,
 CONSTRAINT [PK_WarrantyPolicy] PRIMARY KEY CLUSTERED 
(
	[warrantyPolicyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]



GO


/****** Object:  Table [dbo].[Member]    Script Date: 6/22/2023 9:43:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[memberId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[title] [varchar](255) NULL,
	[img] [varchar](255) NULL,
	[facebook] [varchar](255) NULL,
	[twitter] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


	/****** Object:  Table [dbo].[Blog]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Blog](
		[blogId] [int] IDENTITY(1,1) NOT NULL,
		[code] [varchar](max) NULL,
		[adminId] [int] NULL,
		[typeBlogId] [int] NOT NULL,
		[datePost] [datetime] NOT NULL,
		[lastChange] [datetime] NOT NULL,
		[status] [bit] NOT NULL,
		[title] [ntext] NULL,
		[content] [ntext] NULL,
		[img] varchar(max) NULL,
		[description] [ntext] NULL,
	 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
	(
		[blogId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Category]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Category](
		[categoryID] [int] IDENTITY(1,1) NOT NULL,
		[code] [nvarchar](MAX) NOT NULL,
		[name] [nvarchar](MAX) NULL,
		[keyword] [nvarchar](MAX) NULL,
		[description] [ntext] NULL,
		[createdDate] DATETIME,
		[createdBy] INT,
	 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
	(
		[categoryID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Comment]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Comment](
		[commentId] [int] IDENTITY(1,1) NOT NULL,
		[blogId] [int] NOT NULL,
		[content] [ntext] NOT NULL,
		[datePost] [datetime] NOT NULL,
		[customerId] [int] NOT NULL,
		[status] [bit] NOT NULL,
	 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
	(
		[commentId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Customer]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Customer](
		[customerID] [int] IDENTITY(1,1) NOT NULL,
		[googleId] [varchar](max) NULL,
		[userName] [varchar](100) NULL,
		[password] [varchar](100) NULL,
		[created] [datetime] NULL,
		[lastLogin] [datetime] NULL,
		[status] [bit] NULL,
		[gender] [bit] NULL,
		[image] [varbinary](max) NULL,
		[firstName] [nvarchar](MAX) NULL,
		[lastName] [nvarchar](MAX) NULL,
		[address] [nvarchar](MAX) NULL,
		[phone] [varchar](100) NULL,
		[email] [varchar](100) NULL,
		[totalMoney] [money] NULL,
	 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
	(
		[customerID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Discount]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Discount](
		[discountID] [int] IDENTITY(1,1) NOT NULL,
		[name] [nvarchar](MAX) NULL,
		[description] [ntext] NULL,
		[isActive] [bit] NOT NULL,
		[discount] [real] NOT NULL,
		[couponCode] [varchar](100) NULL,
		[startDate] DATETIME NULL,
		[expirationDate] DATETIME NULL,
		createdDate DATETIME,
		createdBy INT,
	 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
	(
		[discountID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Feedback]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Feedback](
		[feedbackId] [int] IDENTITY(1,1) NOT NULL,
		[name] NVARCHAR(200),
		[subject] NVARCHAR(200),
		[email] [nvarchar](100) NULL,
		[content] [ntext] NULL,
		[reply] [ntext] NULL,
		[repDate] [datetime] NULL,
		[sendDate] [datetime] NULL,
		[status] [bit] NOT NULL,
		repBy INT,
		[roleId] INT,
	 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
	(
		[feedbackId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Order]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Order](
		[orderID] [int] IDENTITY(1,1) NOT NULL,
		[customerID] [int] NULL,
		[trackingNumber] [int],
		[totalMoney] [money] NULL,
		[orderDate] [datetime] NOT NULL,
		[shippedDate] [datetime] NULL,
		[requiredDate] [datetime] NOT NULL,
		[shipAddress] [nvarchar](200) NOT NULL,
		[status] [int] NULL,
		process INT,
		[shipVia] [int] NULL,
		payment int,
		[notes] [ntext] NULL,
	 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
	(
		[orderID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[OrderDetails]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[OrderDetails](
		[orderID] [int] NOT NULL,
		[productID] [int] NOT NULL,
		[quantity] [int] NULL,
		[unitPrice] [money] NULL,
		warranty INT, 
		[discount] [real] NOT NULL,
	 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
	(
		[orderID] ASC,
		[productID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Product]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Product](
		[productID] [int] IDENTITY(1,1) NOT NULL,
		[code] [varchar](MAX) NOT NULL,
		[name] [nvarchar](MAX) NULL,
		[keywords] [nvarchar](MAX) NULL,
		[shortDescription] [nvarchar](MAX) NULL,
		[description] [ntext] NULL,
		[categoryID] [int] NULL,
		[supplierId] [int] NULL,
		[isActive] [bit] NOT NULL,
		[unitPrice] [money] NULL,
		[image] varchar(max) NULL,
		[stockQuantity] [int] NULL,
		[unitOnOrders] [int] NULL,
		[createdDate] [datetime] NOT NULL,
		[createdBy] [int] NULL,
		[discountId] [int] NULL,
		warranty INT, 
	 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
	(
		[productID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[ProductImg]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[ProductImg](
		[ProductImgId] [INT] IDENTITY(1,1) NOT NULL,
		[productID] [int] NOT NULL,
		[image] VARCHAR(MAX) NULL,
		[createdDate] [datetime] NOT NULL,
		[createdBy] [int] NULL,
	 CONSTRAINT [PK_ProductImg] PRIMARY KEY CLUSTERED 
	(
		[productID] ASC,
		[ProductImgId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Review]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Review](
		[reviewId] [int] IDENTITY(1,1) NOT NULL,
		[customerId] [int] NOT NULL,
		[productId] [int] NOT NULL,
		[rate] [int] NOT NULL,
		[content] [ntext] NULL,
		[dateRate] [datetime] NOT NULL,
		[status] [bit] NOT NULL,
	 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
	(
		[reviewId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Role]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Role](
		[roleID] [int] IDENTITY(1,1) NOT NULL,
		[code] [varchar](100) NULL,
		[name] [nvarchar](MAX) NULL,
		[description] [ntext] NULL,
	 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
	(
		[roleID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Shipments]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Shipments](
		[shipmentID] [int] IDENTITY(1,1) NOT NULL,
		[companyName] [nvarchar](MAX) NOT NULL,
		[email] [nvarchar](100) NOT NULL,
		[phone] [nvarchar](20) NOT NULL,
		[status] [bit] NULL,
		[createdDate] [datetime] NULL,
		createdBy INT,
	 CONSTRAINT [PK_Shipments] PRIMARY KEY CLUSTERED 
	(
		[shipmentID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[SlideShow]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[SlideShow](
		[id] [int] IDENTITY(1,1) NOT NULL,
		[image] varchar(max) NULL,
		[disable] [bit] NULL,
		[createBy] [int] NULL,
		[createDate] [datetime] NULL,
		[slogan] [ntext] NULL,
	 CONSTRAINT [PK_SlideShow] PRIMARY KEY CLUSTERED 
	(
		[id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Supplier]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Supplier](
		[supplierId] [int] IDENTITY(1,1) NOT NULL,
		[companyName] [nvarchar](MAX) NULL,
		status [bit] NOT NULL,
		[createdDate] [datetime] NOT NULL,
		[createdBy] [int] NULL,
		[email] [varchar](100) NULL,
		[phone] [varchar](20) NULL,
		[homePage] [varchar](200) NULL,
	 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
	(
		[supplierId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[TypeBlog]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[TypeBlog](
		[typeId] [int] IDENTITY(1,1) NOT NULL,
		code VARCHAR(MAX), 
		[typeName] [nvarchar](MAX) NOT NULL,
		createdDate DATETIME,
		createdBy INT,
	 CONSTRAINT [PK_TypeBlog] PRIMARY KEY CLUSTERED 
	(
		[typeId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[Warranty]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[Warranty](
		[warrantyID] [int] IDENTITY(1,1) NOT NULL,
		[productID] [int] NOT NULL,
		customerID [Int] NULL,
		AdministratorId INT NULL,
		status int NOT NULL,
		note NVARCHAR(MAX),
		[createdDate] [datetime] NULL,
		appointmentDate Date NULL,
		finishDay DATETIME,
		[description] NVARCHAR(MAX),
		orderId INT,
		method INT, 
	 CONSTRAINT [PK_Warranty] PRIMARY KEY CLUSTERED 
	(
		[warrantyID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO

		/****** Object:  Table [dbo].[Warranty]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[MailWarranty](
		[orderID] [int] IDENTITY(1,1) NOT NULL,
		[productID] [int] NOT NULL,
		isSend BIT NULL,
		DueDate DATETIME NULL,
	 CONSTRAINT [PK_MailWarranty] PRIMARY KEY CLUSTERED 
	(
		[orderID] ASC,
		[productID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
	GO
	/****** Object:  Table [dbo].[WarrantyImg]    Script Date: 5/17/2023 3:32:32 PM ******/
	SET ANSI_NULLS ON
	GO
	SET QUOTED_IDENTIFIER ON
	GO
	CREATE TABLE [dbo].[WarrantyImg](
		warrantyImgId [INT] IDENTITY(1,1) NOT NULL,
		[warrantyID] [INT] NOT NULL,
		[image] VARBINARY(MAX) NULL,
	 CONSTRAINT [PK_WarrantyImg] PRIMARY KEY CLUSTERED 
	(
		[warrantyImgId] ASC,
		[warrantyID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
	GO

	ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [FK_Administrator_Role] FOREIGN KEY([roleID])
	REFERENCES [dbo].[Role] ([roleID])
	GO
	ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_OrderId_TrackingNumber] FOREIGN KEY([trackingNumber])
	REFERENCES [dbo].[order] ([orderID])
	GO
	ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [FK_Administrator_Role]
	GO
	ALTER TABLE [dbo].[Attribute]  WITH CHECK ADD  CONSTRAINT [FK_Attribute_Product] FOREIGN KEY([productId])
	REFERENCES [dbo].[Product] ([productID])
	GO
	ALTER TABLE [dbo].[Attribute] CHECK CONSTRAINT [FK_Attribute_Product]
	GO
	ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Administrator] FOREIGN KEY([adminId])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Administrator]
	GO
	ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_TypeBlog] FOREIGN KEY([typeBlogId])
	REFERENCES [dbo].[TypeBlog] ([typeId])
	GO
	ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_TypeBlog]
	GO
	ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Blog] FOREIGN KEY([blogId])
	REFERENCES [dbo].[Blog] ([blogId])
	GO
	ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Blog]
	GO
	ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Custmer] FOREIGN KEY([customerId])
	REFERENCES [dbo].[Customer] ([customerID])
	GO
	ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Custmer]
	GO
	ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customerID])
	REFERENCES [dbo].[Customer] ([customerID])
	GO
	ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
	GO
	ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Shipments] FOREIGN KEY([shipVia])
	REFERENCES [dbo].[Shipments] ([shipmentID])
	GO
	ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Shipments]
	GO
	ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([orderID])
	REFERENCES [dbo].[Order] ([orderID])
	GO
	ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
	GO
	ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([productID])
	REFERENCES [dbo].[Product] ([productID])
	GO
	ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Role] FOREIGN KEY([roleId])
	REFERENCES [dbo].[role] ([roleId])
	GO
	ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Product]
	GO
	ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Administrator] FOREIGN KEY([createdBy])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Administrator]
	GO
	ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryID])
	REFERENCES [dbo].[Category] ([categoryID])
	GO
	ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
	GO
	ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Discount] FOREIGN KEY([discountId])
	REFERENCES [dbo].[Discount] ([discountID])
	GO
	ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Discount]
	GO
	ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([supplierId])
	REFERENCES [dbo].[Supplier] ([supplierId])
	GO
	ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
	GO
	ALTER TABLE [dbo].[ProductImg]  WITH CHECK ADD  CONSTRAINT [FK_ProductImg_Administrator] FOREIGN KEY([createdBy])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[ProductImg] CHECK CONSTRAINT [FK_ProductImg_Administrator]
	GO
	ALTER TABLE [dbo].[ProductImg]  WITH CHECK ADD  CONSTRAINT [FK_ProductImg_Product] FOREIGN KEY([productID])
	REFERENCES [dbo].[Product] ([productID])
	GO
	ALTER TABLE [dbo].[ProductImg] CHECK CONSTRAINT [FK_ProductImg_Product]
	GO
	ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Customer] FOREIGN KEY([customerId])
	REFERENCES [dbo].[Customer] ([customerID])
	GO
	ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Customer]
	GO
	ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Product] FOREIGN KEY([productId])
	REFERENCES [dbo].[Product] ([productID])
	GO
	ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Product]
	GO
	ALTER TABLE [dbo].[SlideShow]  WITH CHECK ADD  CONSTRAINT [FK_SlideShow_Administrator] FOREIGN KEY([createBy])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[SlideShow] CHECK CONSTRAINT [FK_SlideShow_Administrator]
	GO
	ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Administrator] FOREIGN KEY([createdBy])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Administrator] FOREIGN KEY([createdBy])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Administrator] FOREIGN KEY([repBy])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[TypeBlog]  WITH CHECK ADD  CONSTRAINT [FK_TypeBlog_Administrator] FOREIGN KEY([createdBy])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Administrator] FOREIGN KEY([createdBy])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_Shipments_Administrator] FOREIGN KEY([createdBy])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[FAQ]  WITH CHECK ADD  CONSTRAINT [FK_FAQ_Administrator] FOREIGN KEY([createdBy])
	REFERENCES [dbo].[Administrator] ([administratorID])
	GO
	ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_Administrator]
	GO
	ALTER TABLE [dbo].[Warranty]  WITH CHECK ADD  CONSTRAINT [FK_Warranty_Product] FOREIGN KEY([productID])
	REFERENCES [dbo].[Product] ([productID])
	GO
	ALTER TABLE [dbo].[Warranty] CHECK CONSTRAINT [FK_Warranty_Product]
	GO

	GO
	ALTER TABLE [dbo].[Warranty]  WITH CHECK ADD  CONSTRAINT [FK_Warranty_Customer] FOREIGN KEY([customerId])
	REFERENCES [dbo].[Customer] ([customerId])
	GO
	ALTER TABLE [dbo].[Warranty] CHECK CONSTRAINT [FK_Warranty_Customer]
	GO
	ALTER TABLE [dbo].[WarrantyImg]  WITH CHECK ADD  CONSTRAINT [FK_WarrantyImg_Warranty] FOREIGN KEY([warrantyID])
	REFERENCES [dbo].[Warranty] ([warrantyID])
	GO
	ALTER TABLE [dbo].[WarrantyImg] CHECK CONSTRAINT [FK_WarrantyImg_Warranty]
	GO

	USE [master]
	GO








USE SE1715_G4_SWP391

INSERT INTO dbo.Role(code, name, description) VALUES('Admin', N'Administrator', N'Manager webapp')
INSERT INTO dbo.Role(code, name, description) VALUES('Supplier', N'Supplier', N'provide product')
INSERT INTO dbo.Role(code, name, description) VALUES('Shipper', N'Shipper', N'Provide Shipper')

INSERT INTO dbo.Customer(googleId, userName, password, created, lastLogin, status, gender, image, firstName, lastName, address, phone, email, totalMoney)
VALUES(NULL, 'sondv', 'IBHYlgvGeq0jk588TS1yfA==', GETDATE(), GETDATE(),  1, 1,  (SELECT * FROM OPENROWSET(BULK N'C:/images/customers/default.png', SINGLE_BLOB) as T1),
N'Đào Văn', N'Sơn', N'FPT University', '09090909', 'daoson03112002@gmail.com', 100000000)

INSERT INTO dbo.Administrator(userName, password, lastLogin, isActive, roleID, email, img)
VALUES('admin', 'FG9b0v0WVGm7BaKVh6E3xw==', GETDATE(), 1, 1, 'vanson021103@gmail.com', (SELECT * FROM OPENROWSET(BULK N'C:/images/customers/default.png', SINGLE_BLOB) as T1))

INSERT INTO dbo.Shipments(CompanyName, Phone, Email, Status, createdDate, createdBy) VALUES(N'J&T Express', N'1900 1088', N'JTExpress@gmail.com',1, GETDATE(), 1)
INSERT INTO dbo.Shipments(CompanyName, Phone, Email, Status, createdDate, createdBy) VALUES(N'NINJA VAN', N'1900 886 877', N'NINJAVAN@gmail.com',1, GETDATE(), 1)
INSERT INTO dbo.Shipments(CompanyName, Phone, Email, Status, createdDate, createdBy) VALUES(N'Ahamove', N'1900 545411', N'Ahamove@gmail.com', 1, GETDATE(), 1)

INSERT INTO [dbo].[Supplier]([companyName],[Status],[createdDate],[createdBy],[email],[phone],[homePage])VALUES(N'PV GAS',1,CURRENT_TIMESTAMP,1,'pvgas@pvgas.com.vn','+84 28 3781 6777','https://www.pvgas.com.vn')
INSERT INTO [dbo].[Supplier]([companyName],[Status],[createdDate],[createdBy],[email],[phone],[homePage])VALUES(N'Gas Gia Đình',1,CURRENT_TIMESTAMP,1,'gasgiadinh.vn@gmail.com','(028) 37.155.166','http://gasgiadinh.vn')
INSERT INTO [dbo].[Supplier]([companyName],[Status],[createdDate],[createdBy],[email],[phone],[homePage])VALUES(N'VT Gas',1,CURRENT_TIMESTAMP,1,' info@vt-gas.com.vn','061. 383 1988','http://www.vtgas.com.vn/')



INSERT INTO [dbo].[Category]([code],[name],[keyword],[description])VALUES('binh-gas-1',N'Bình gas','gas/binhgas/binhga/binhga12kg/binhga45kg',N'Bình gas là một thiết bị chứa gas được chế tạo từ vật liệu thép chuyên dụng để bảo quản và giữ an toàn khi lưu trữ, vận chuyển và sử dụng gas.')
INSERT INTO [dbo].[Category]([code],[name],[keyword],[description])VALUES('bep-gas-2',N'Bếp gas','gas/bepgas/bepga/bepgadoi/bepgakhe/bepgamini',N'Bếp gas là một loại bếp sử dụng nhiên liệu là khí gas (khí thiên nhiên) để nấu ăn')
INSERT INTO [dbo].[Category]([code],[name],[keyword],[description])VALUES('phu-kien-3',N'Phụ kiện','gas/bepgas/bepga/bepgadoi/bepgakhe/bepgamini',N'Phụ kiện là những bộ phận phụ trợ cho bếp ga và bình ga')

INSERT INTO [dbo].[Discount]([name],[description],[isActive],[discount],[couponCode],[startDate],[expirationDate])VALUES(N'Không giảm',N'Không giảm',0,0,'sale0',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
INSERT INTO [dbo].[Discount]([name],[description],[isActive],[discount],[couponCode],[startDate],[expirationDate])VALUES(N'Giảm 5%',N'Giảm 5%',0,0.05,'sale5',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
INSERT INTO [dbo].[Discount]([name],[description],[isActive],[discount],[couponCode],[startDate],[expirationDate])VALUES(N'Giảm 10%',N'Giảm 10%',0,0.1,'sale10',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)





INSERT [dbo].[Product] ([code], [name], [keywords],
[shortDescription], [description],
[categoryID], [supplierId], [isActive], [unitPrice], [image], [stockQuantity], [unitOnOrders], [createdDate], [createdBy], [discountId], [warranty]) VALUES
( N'binh-gas-12-kg-2', N'Bình gas 12 Kg', N'bình gas;gas;12;12kg',
N'Đại diện phân phối các loại sản phẩm bình gas petro Vietnam Gas giá thành tố nhất tại việt nam', N'Bình gas dân dụng:Nhãn hiệu : Petro Vietnam Gas::Dung tích : 12 Lít:Loại bình  : Sắt',
1, 1, 1, 475000, 'images/products/2/df.jpg', 322, 45, GETDATE(), 1, 1, 2)

























































INSERT [dbo].[Customer] ([userName], [password], [created], [lastLogin], [status], [gender], [firstName], [lastName], [address], [phone], [email]) VALUES (N'Jenna222', N'8596Q3HBQ21FYX110B7QF2ZB9Q8Y1', CAST(N'1963-04-20T01:49:19.840' AS DateTime), CAST(N'1968-02-17T02:50:29.220' AS DateTime), 0, 0, N'Sonja', N'Bradford', N'363 Green Fabien Boulevard', N'4622076042', N'qzmpj@zbzeeh.vvoasw.com')
INSERT [dbo].[Customer] ([userName], [password], [created], [lastLogin], [status], [gender], [firstName], [lastName], [address], [phone], [email]) VALUES (N'Bruce11', N'QHLRRJIQN8M5UBRE0LW4FFJ0965YXZVI9ECJT66HI9NZ4A7OKUQM2XWAXLHLEKTNC3WFZ', CAST(N'1986-12-01T01:26:08.230' AS DateTime), CAST(N'1981-06-26T03:21:45.960' AS DateTime), 0, 0, N'Johnathan', N'George', N'23 East Green Fabien Blvd.', N'7947675162', N'vqfcvcgs2@f-ica-.org')
INSERT [dbo].[Customer] ([userName], [password], [created], [lastLogin], [status], [gender], [firstName], [lastName], [address], [phone], [email]) VALUES (N'Chadwick330', N'KTEEM5RKWZZGE298GCI1L8PL3YFZM0DRPC9X8NAQJDOHMX5QE3NKXXLC3TANPRXVL7R1TC0S1SI8K7Y6', CAST(N'1965-10-10T13:11:38.760' AS DateTime), CAST(N'1997-11-05T12:21:20.130' AS DateTime), 1, 1, N'Tyrone', N'Bradford', N'387 Fabien Drive', N'670-9230223', N'osjaoyf.wtjm@ywolsi.net')

UPDATE dbo.Customer SET image = (SELECT * FROM OPENROWSET(BULK N'C:/images/customers/default.png', SINGLE_BLOB) as T1)

insert into TypeBlog (code,typeName, createdDate, createdBy)
values('san-xuat-1',N'Sản xuẩt', CAST(N'2022-01-18T09:50:42.460' AS DateTime), 1),
('kien-thuc-2',N'Kiến thức', CAST(N'2022-02-18T09:50:42.460' AS DateTime), 1),
('gia-gas-3',N'Giá gas', CAST(N'2022-03-18T09:50:42.460' AS DateTime), 1)




insert into Comment (blogId, content, datePost, customerId, status) values(1,N'Ôi bất ngờ ghê, giớ mới biết', CAST(N'2023-05-19T09:50:42.460' AS DateTime), 1, 1)
insert into Comment (blogId, content, datePost, customerId, status) values(1,N'Bài viết hay, cảm ơn của hàng', CAST(N'2023-05-19T09:50:42.460' AS DateTime), 1, 1)
insert into Comment (blogId, content, datePost, customerId, status) values(2,N'Quy trình phức tạp quá', CAST(N'2023-05-19T09:50:42.460' AS DateTime), 1, 1)




INSERT [dbo].[Review] ([customerId], [productId], [rate], [content], [dateRate], [status]) VALUES ( 1, 1, 5, N'Đỉnh quá', CAST(N'2013-05-04T10:20:13.180' AS DateTime), 1)
INSERT [dbo].[Review] ([customerId], [productId], [rate], [content], [dateRate], [status]) VALUES ( 2, 1, 5, N'Xịn', CAST(N'2007-06-06T05:13:04.740' AS DateTime), 1)
INSERT [dbo].[Review] ([customerId], [productId], [rate], [content], [dateRate], [status]) VALUES ( 3, 1, 5, N'Cháy là ác', CAST(N'1981-08-20T05:22:55.530' AS DateTime), 1)

INSERT INTO dbo.Feedback(email, content, reply, repDate, sendDate, status, repBy, roleId) VALUES(N'daoson03112002@gmail.com',N'Lag quá ad ơi', NULL, NULL, GETDATE(), 0, NULL, 4)
INSERT INTO dbo.Feedback(name, subject, email, content, reply, repDate, sendDate, status, repBy, roleId) 
VALUES (N'Nguyễn Văn A', N'Lỗi đăng ký tài khoản', N'abc@gmail.com', N'Lỗi không đăng ký được tài khoản', NULL, NULL,GETDATE(),0, NULL, 4)




insert FAQ ([isActive],question,answer,createdBy,createdDate) values (1,
N'Tại sao lửa bị đỏ và khắc phục tình trạng đó thế nào?',
N'Lửa bị đỏ khi sử dụng có thể do nhiều yếu tố gây ra như::+ Lượng gas đã cạn kiệt:+ Có nước ở dụng cụ nấu ăn rơi xuống lửa hoặc do có nước ở chi tiết đồng:+ Lượng không khí không đủ để duy trì lửa cháy:+ Chi tiết trên mâm đồng bị bụi bám bẩn:Để khắc phục nhanh chóng tình huống này bạn có thể làm vệ sinh bộ phận bếp, kiểm tra bình gas để thay mới kịp thời để không ảnh hưởng khi sử dụng.',
1,CAST(N'1994-05-24T03:00:17.840' AS DateTime))








GO
SET IDENTITY_INSERT [dbo].[aboutUs] ON 

SET IDENTITY_INSERT [dbo].[aboutUs] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([memberId], [name], [title], [img], [facebook], [twitter]) VALUES (1, N'Đào Văn Sơn', N'Team Leader', N'images/team/1.png', N'https://www.facebook.com/profile.php?id=100014883102324', N'')
INSERT [dbo].[Member] ([memberId], [name], [title], [img], [facebook], [twitter]) VALUES (2, N'Nguyễn Tuấn Cường', N'Team Member', N'images/team/2.png', N'https://www.facebook.com/profile.php?id=100014883102324', N'')
INSERT [dbo].[Member] ([memberId], [name], [title], [img], [facebook], [twitter]) VALUES (3, N'Nguyễn Xuân Hậu', N'Team Member', N'images/team/3.png', N'https://www.facebook.com/profile.php?id=100014883102324', N'')
SET IDENTITY_INSERT [dbo].[Member] OFF
GO

USE master

-- DELETE Attribute

-- DELETE Product

-- DBCC CHECKIDENT ('product', RESEED, 0);


