<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>client/index</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>UserAuthenticationFilter</filter-name>
        <filter-class>com.se1715.group4.gasstore.filter.UserAuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <filter-class>com.se1715.group4.gasstore.filter.AdminAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthenticationFilter</filter-name>
        <url-pattern>/admin/index</url-pattern>
        <url-pattern>/admin/accounts</url-pattern>
        <url-pattern>/admin/createproduct</url-pattern>
        <url-pattern>/admin/profile</url-pattern>
        <url-pattern>/admin/suppliers</url-pattern>
        <url-pattern>/admin/shippers</url-pattern>
        <url-pattern>/admin/categories</url-pattern>
        <url-pattern>/admin/updateproduct</url-pattern>
        <url-pattern>/admin/orders</url-pattern>
        <url-pattern>/admin/orderdetail</url-pattern>
        <url-pattern>/admin/updateorder</url-pattern>
        <url-pattern>/admin/updatecategory</url-pattern>
        <url-pattern>/admin/reviews</url-pattern>
        <url-pattern>/admin/updatereview</url-pattern>
        <url-pattern>/admin/loadorder</url-pattern>
        <url-pattern>/admin/feedbacks</url-pattern>
        <url-pattern>/admin/reply</url-pattern>
        <url-pattern>/admin/profileadmin</url-pattern>
        <url-pattern>/admin/changepassword</url-pattern>
        <url-pattern>/admin/updatefaq</url-pattern>
        <url-pattern>/admin/products</url-pattern>
        <url-pattern>/admin/manageblog</url-pattern>
        <url-pattern>/admin/managetypeblog</url-pattern>
        <url-pattern>/admin/generateorders</url-pattern>
        <url-pattern>/admin/warranty</url-pattern>
        <url-pattern>/admin/updateblog</url-pattern>
        <url-pattern>/admin/newdiscount</url-pattern>
        <url-pattern>/admin/othernewdiscount</url-pattern>
        <url-pattern>/admin/discounts</url-pattern>
        <url-pattern>/admin/discountdetail</url-pattern>
        <url-pattern>/admin/warrantydetail</url-pattern>
        <url-pattern>/admin/newblog</url-pattern>
        <url-pattern>/admin/faqs</url-pattern>
        <url-pattern>/admin/updatewarranty</url-pattern>
        <url-pattern>/admin/proxy</url-pattern>
        <url-pattern>/admin/updatediscount/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthenticationFilter</filter-name>
        <url-pattern>/client/profile</url-pattern>
        <url-pattern>/client/changepassword</url-pattern>
        <url-pattern>/client/delcart</url-pattern>
        <url-pattern>/client/process</url-pattern>
        <url-pattern>/client/checkout</url-pattern>
        <url-pattern>/client/cartput</url-pattern>
        <url-pattern>/client/payments</url-pattern>
        <url-pattern>/client/statuspayments</url-pattern>
        <url-pattern>/client/process1</url-pattern>
        <url-pattern>/client/process2</url-pattern>
        <url-pattern>/client/process3</url-pattern>
        <url-pattern>/client/updatereview</url-pattern>
        <url-pattern>/client/updatecomment</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.LoginClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.RegisterClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.LogoutClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.LogoutAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.IndexAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangepasswordClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.ChangepasswordClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.ForgotPasswordClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationOTPClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.AuthenticationOTPClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepassword2ClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.Changepassword2ClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.InformationClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ForgotPasswordAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationOTPAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.AuthenticationOTPAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepassword2AdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.Changepassword2AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.IndexClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileCustomerServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ProfileCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppliersAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.SuppliersAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippersAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ShippersAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriesAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.CategoriesAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.UpdateProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersManagerServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.OrdersManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.OrderDetailAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.UpdateOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDeleteServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.CartDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartProcessServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.CartProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PutInCartServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.PutInCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.ItemClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToAboutusServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.ToAboutusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToCheckServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.ToCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToContactusServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.ToContactusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToFaqServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.ToFaqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagerAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.UserManagerAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.AddCategoryAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.UpdateCategoryAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.AddSupplierAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewsProductAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ReviewsProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReviewProductAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.UpdateReviewProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreOrderAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.LoadMoreOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManagerAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.FeedbackManagerAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ReplyAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ProfileAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentsClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.PaymentsClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusPaymentsClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.StatusPaymentsClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBlog</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.DisplayBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.ContactClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShipperAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.AddShipperAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartProcess1Servlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.CartProcess1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartProcess2Servlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.CartProcess2Servlet</servlet-class>
    </servlet>
    <servlet-name>DisplayBlogServlet</servlet-name>
    <url-pattern>/client/blog</url-pattern>
    <servlet>
        <servlet-name>CartProcess3Servlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.CartProcess3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.CategoryClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler2</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.LoginGoogleHandler2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReviewClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.UpdateReviewClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBlogDetails</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.DisplayBlogDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCommentBlogClientServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.UpdateCommentBlogClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ChangePasswordAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFaqAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.AddFaqAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFaqAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.UpdateFaqAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.AddProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ProductsAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBlog</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ManageBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTypeBlog</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ManageTypeBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReportOrders</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.GenerateReportOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarrantyManageAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.WarrantyManageAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToOrderServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.ToOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlog</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.UpdateBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiscountAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.AddDiscountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOtherDiscountAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.AddOtherDiscountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.DiscountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscountDetailAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.DiscountDetailAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailWarrantyAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.DetailWarrantyAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.AddBlogAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaqAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.FaqAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBlogByType</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.client.DisplayBlogByType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWarrantAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.UpdateWarrantAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProxyServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlideIndexAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.SlideIndexAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSlideAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.AddSlideAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDiscountAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.UpdateDiscountAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartsAdminServlet</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ChartsAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFooter</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.ManageFooter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFooter</servlet-name>
        <servlet-class>com.se1715.group4.gasstore.models.admin.UpdateFooter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginClientServlet</servlet-name>
        <url-pattern>/client/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterClientServlet</servlet-name>
        <url-pattern>/client/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutClientServlet</servlet-name>
        <url-pattern>/client/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/client/loginwithgoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexAdminServlet</servlet-name>
        <url-pattern>/admin/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/admin/createproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangepasswordClientServlet</servlet-name>
        <url-pattern>/client/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordClientServlet</servlet-name>
        <url-pattern>/client/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationOTPClientServlet</servlet-name>
        <url-pattern>/client/authencationotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepassword2ClientServlet</servlet-name>
        <url-pattern>/client/changepassword2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationClientServlet</servlet-name>
        <url-pattern>/client/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordAdminServlet</servlet-name>
        <url-pattern>/admin/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationOTPAdminServlet</servlet-name>
        <url-pattern>/admin/authenticationotpadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepassword2AdminServlet</servlet-name>
        <url-pattern>/admin/changepassword2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexClientServlet</servlet-name>
        <url-pattern>/client/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileCustomerServlet</servlet-name>
        <url-pattern>/admin/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppliersAdminServlet</servlet-name>
        <url-pattern>/admin/suppliers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippersAdminServlet</servlet-name>
        <url-pattern>/admin/shippers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriesAdminServlet</servlet-name>
        <url-pattern>/admin/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductAdminServlet</servlet-name>
        <url-pattern>/admin/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersManagerServlet</servlet-name>
        <url-pattern>/admin/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailAdminServlet</servlet-name>
        <url-pattern>/admin/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderAdminServlet</servlet-name>
        <url-pattern>/admin/updateorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDeleteServlet</servlet-name>
        <url-pattern>/client/delcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProcessServlet</servlet-name>
        <url-pattern>/client/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/client/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PutInCartServlet</servlet-name>
        <url-pattern>/client/cartput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/client/cartshow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToAboutusServlet</servlet-name>
        <url-pattern>/client/aboutus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToCheckServlet</servlet-name>
        <url-pattern>/client/tocheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToContactusServlet</servlet-name>
        <url-pattern>/client/contactus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToFaqServlet</servlet-name>
        <url-pattern>/client/faq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagerAdminServlet</servlet-name>
        <url-pattern>/admin/accounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryAdminServlet</servlet-name>
        <url-pattern>/admin/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryAdminServlet</servlet-name>
        <url-pattern>/admin/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierAdminServlet</servlet-name>
        <url-pattern>/admin/addsupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewsProductAdminServlet</servlet-name>
        <url-pattern>/admin/reviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReviewProductAdminServlet</servlet-name>
        <url-pattern>/admin/updatereview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreOrderAdminServlet</servlet-name>
        <url-pattern>/admin/loadorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackManagerAdminServlet</servlet-name>
        <url-pattern>/admin/feedbacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyAdminServlet</servlet-name>
        <url-pattern>/admin/reply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileAdminServlet</servlet-name>
        <url-pattern>/admin/profileadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemClientServlet</servlet-name>
        <url-pattern>/client/item/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentsClientServlet</servlet-name>
        <url-pattern>/client/payments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusPaymentsClientServlet</servlet-name>
        <url-pattern>/client/statuspayments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBlog</servlet-name>
        <url-pattern>/client/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactClientServlet</servlet-name>
        <url-pattern>/client/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShipperAdminServlet</servlet-name>
        <url-pattern>/admin/addshipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProcess1Servlet</servlet-name>
        <url-pattern>/client/process1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProcess2Servlet</servlet-name>
        <url-pattern>/client/process2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProcess3Servlet</servlet-name>
        <url-pattern>/client/process3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryClientServlet</servlet-name>
        <url-pattern>/client/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler2</servlet-name>
        <url-pattern>/client/loginwithgoogle2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReviewClientServlet</servlet-name>
        <url-pattern>/client/updatereview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBlogDetails</servlet-name>
        <url-pattern>/client/blogdetails/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCommentBlogClientServlet</servlet-name>
        <url-pattern>/client/updatecomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordAdminServlet</servlet-name>
        <url-pattern>/admin/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFaqAdminServlet</servlet-name>
        <url-pattern>/admin/addfaq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFaqAdminServlet</servlet-name>
        <url-pattern>/admin/updatefaq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductAdminServlet</servlet-name>
        <url-pattern>/admin/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsAdminServlet</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBlog</servlet-name>
        <url-pattern>/admin/manageblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTypeBlog</servlet-name>
        <url-pattern>/admin/managetypeblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReportOrders</servlet-name>
        <url-pattern>/admin/generateorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarrantyManageAdminServlet</servlet-name>
        <url-pattern>/admin/warranty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToOrderServlet</servlet-name>
        <url-pattern>/client/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlog</servlet-name>
        <url-pattern>/admin/updateblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscountAdminServlet</servlet-name>
        <url-pattern>/admin/newdiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOtherDiscountAdminServlet</servlet-name>
        <url-pattern>/admin/othernewdiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountAdminServlet</servlet-name>
        <url-pattern>/admin/discounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscountDetailAdminServlet</servlet-name>
        <url-pattern>/admin/discountdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailWarrantyAdminServlet</servlet-name>
        <url-pattern>/admin/warrantydetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogAdminServlet</servlet-name>
        <url-pattern>/admin/newblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaqAdminServlet</servlet-name>
        <url-pattern>/admin/faqs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBlogByType</servlet-name>
        <url-pattern>/admin/type/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWarrantAdminServlet</servlet-name>
        <url-pattern>/admin/updatewarranty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>/admin/proxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlideIndexAdminServlet</servlet-name>
        <url-pattern>/admin/slide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSlideAdminServlet</servlet-name>
        <url-pattern>/admin/newslide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDiscountAdminServlet</servlet-name>
        <url-pattern>/admin/updatediscount/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartsAdminServlet</servlet-name>
        <url-pattern>/admin/charts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFooter</servlet-name>
        <url-pattern>/admin/managefooter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFooter</servlet-name>
        <url-pattern>/admin/updatefooter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet-name>DisplayBlogDetailsServlet</servlet-name>
    <url-pattern>/client/blogdetails/*</url-pattern>
</web-app>
